/* Hide GUID spans if they are rendered in the HTML */
span[id^="GUID-"] {
    display: none;
}

/* Audio framework specification page */
.audio_FW_spec_table,
.audio_FW_spec_table th,
.audio_FW_spec_table td {
	text-align:center;
	border: 1px solid black;
	border-collapse: collapse;
	color: black;
}

.audio_FW_spec_table th,
.audio_FW_spec_table td {
	padding-left: .5em;
	padding-right: .5em;
}

.audio_FW_spec_table th {
	background-color: #7cb2de;
	color:white;
}

.audio_FW_spec_table_supported {
	background-color: #75993e;
	color: black;
}

.audio_FW_spec_table_modification {
	background-color: #c6d22c;
	color: black;
}

.audio_FW_spec_table_limited {
	background-color: #fcb415;
	color: black;
}